.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas:
    "header header"
    "navbar content";
  grid-template-rows: 120px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: header;
  background-color: darkseagreen;
}

.header img {
  width: 60px;
}

.navbar {
  grid-area: navbar;
  background-color: darkgrey;
}

.content {
  grid-area: content;
  background-color: bisque;
}